<html>
	<head>
		<title>Sales Tax Calc List</title>
	</head>
	<body>
		<table style="width:100%">
  			<tr>
    			<td>ID</td>
    			<td>NAME</td>
    			<td>PRICE</td> 
    			<td>COUNTRY</td>
    			<td>SALES TAX</td>
    			<td>TOTAL PRICE</td>
			</tr>
			{% for items in data %} 
				<tr>
	    			<td>{{items.product_id}}</td>
	    			<td>{{items.name}}</td>
	    			<td>{{items.price}}</td> 
	    			<td>{{items.country}}</td>
	    			<td>{{items.sales_tax}}</td>
	    			<td>{{items.total_price}}</td>
				</tr>
			{% endfor %}	
		</table>
	</body>
</html>	